// app global css in SCSS form

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.container {
  padding: 1rem;
  width: 100%;
}

@media (min-width: 340px) {
  .container {
    max-width: 290px;
    margin: 0 auto;
  }
}

@media (min-width: 350px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media (min-width: 400px) {
  .container {
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .container {
    max-width: 490px;
    margin: 0 auto;
  }
}

/* Tablet */
@media (min-width: 750px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 760px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 840px;
    margin: 0 auto;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1020px) {
  .container {
    max-width: 690px;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    max-width: 940px;
    padding: 3rem;
  }
}

/* Large screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}
